/*Add CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:'Open Sans';
}

nav {
	border-bottom: 1px solid gray;
	position: sticky;
	top: 1px;
	z-index: 1;
}

nav > ul {
	list-style-type: none;
	/*to make nav tools look solid when scrolling in the page*/
	background-color: white;
}

nav .nav-logo, nav .nav {
	margin: 0.8rem;
	display: inline;
}

#logo {
	/*to overlap with div element and align with nav tools*/
	position: absolute;
	top: 16px;
	left: 3rem;
}

.right-nav {
	/*to center vertically the nav tools with the logo*/
	right: 3rem;
	position: relative;
	bottom: 10px;
	text-align: right;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 1.5rem;
	border-style: none;
}

/*landing page*/
#bg-image {
	min-height: 70vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
}

#bg-image .front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 70vh;
}

section > div > .container {
	color: white;
	text-align: right;
	float: right;
	width: 30rem;
	min-height: 70vh;
	margin-right: 3rem;
	position: relative;
}

section > div > div > .title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: lighter;
	margin-left: 15%;
	margin-bottom: 1rem;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	border-radius: 2rem;
	border-style: none;
	position: absolute;
	bottom: 2rem;
	right: 0rem;
}

.intro {
	height: 12rem;
}

.intro > .title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.intro-description {
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.pre-footer {
	height: 16.5rem;
	text-align: center;
	background-color: rgba(173,216,230,0.5);
}

.pre-footer > .title-2 {
	font-size: 2rem;
	font-family: 'Zilla Slab', serif;
	margin-top: 2rem;
	margin-bottom: 5rem;
	position: relative;
	top: 2rem;
}

.prefooter-description {
	margin-top: 2rem;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1.5rem;
}

.book-button {
	background-color: #336589ff;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	border-radius: 2rem;
	border-style: none;
}

footer {
	margin: 0.5rem;
	text-align: center;
}

span {
	margin: 0.5rem;
}









